html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.app {
  max-width: 960px;
  padding: 18px;
  margin: 0 auto;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5FAE\8F6F\96C5\9ED1, sans-serif;
  line-height: 1.4286;
  color: #393333;
}
@media (max-width: 360px) {
  .app {
    padding: 15px;
  }
}

input,
textarea {
  border: 1px solid #cecccc;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.25s;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-color: #6c6666;
}
textarea {
  padding: 6px;
}

button {
  padding: 3px 7px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #393333;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background 0.1s;
}
button:hover {
  background: #f3f3f3;
}
button:active {
  background: #eee;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.condition_zone,
.condition_weather,
.condition_time {
  display: inline-block;
  margin-top: -3px;
  margin-bottom: 7px;
  vertical-align: top;
}
.condition_zone,
.condition_time {
  width: 100%;
}
.condition_weather {
  margin-right: 6px;
}
@media (max-width: 768px) {
  .condition_weather {
    width: 100%;
    margin-right: 0;
  }
}

.condition-title {
  display: block;
  margin-bottom: -1px;
  font-weight: bold;
}
.condition-tip {
  margin-left: 8px;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #6c6666;
  opacity: 0;
  transition: opacity .1s ease-out;
}
.condition > div:hover .condition-tip {
  opacity: 1;
}

.condition_zone-group {
  margin-right: 6px;
}
.condition_zone-item,
.condition_weather-item {
  display: inline-block;
  padding: 3px 6px;
  margin: 3px -1px 3px 0;
  border: 1px solid #393333;
  cursor: pointer;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
}
.condition_zone-item:first-child,
.condition_weather-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.condition_zone-item:last-child,
.condition_weather-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.condition_zone-item:hover,
.condition_weather-item:hover {
  background: #f6f3f3;
}
.condition_zone-item.-active,
.condition_weather-item.-active {
  color: #fff;
  background: #393333;
}

.condition_zone-item:first-child,
.condition_weather-item:first-child {
  border-left-width: 3px;
}

.condition_time-selector {
  display: inline;
}
.condition_time-item {
  display: inline-block;
  width: 32px;
  padding: 3px 2px;
  margin: 3px -1px 3px 0;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #393333;
  cursor: pointer;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
}
.condition_time-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.condition_time-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.condition_time-item:nth-child(8n+1) {
  font-weight: bold;
  border-left-width: 3px;
}
.condition_time-item.-hover {
  background: #cecccc;
}
.condition_time-item.-active {
  color: #fff;
  background: #393333;
}

.console {
  position: relative;
}

.console_summary {
  display: inline-block;
}

.match {
  margin-top: 6px;
}
.match table {
  width: 100%;
  font-family: SFMono-Regular, Menlo, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  line-height: 18px;
  border-collapse: collapse;
}
.match th,
.match td {
  padding: 6px 4px;
  text-align: left;
}
@media (min-width: 481px) {
  .match th:first-child,
  .match td:first-child {
    padding-left: 20px;
  }
}
.match th {
  border-top: 1px solid #393333;
  border-bottom: 1px solid #393333;
}
.match td {
  border-bottom: 1px solid #bfbbbb;
}
.match tr:last-child td {
  border-color: #393333;
}
.match tbody tr {
  transition: background-color .1s ease-in-out;
}
.match tbody tr:hover {
  background: #fbf9f9;
}

.match .match_local-time {
  width: 36%;
}
.match .match_eorzea-time {
  width: 28%;
}

.match_local-time-date {
  margin-right: 2px;
}
.match_local-time-separator {
  margin: 0 1px;
}

.match_eorzea-time-date {
  margin-right: 6px;
  color: #bfbbbb;
}
.match_duration {
  margin-right: 1px;
}

.match.list th,
.match.list td {
  text-align: center;
}
.match.list .match_list-date {
  width: 14%;
  text-align: left;
}
.match_list-time {
  margin-right: 5px;
}

.friendly-time_seconds {
  font-size: 12px;
  color: #bfbbbb;
}

.weathers > span:first-child {
  color: #bfbbbb;
}
.weathers > span:first-child:before {
  content: "(";
}
.weathers > span:first-child:after {
  content: ")";
}
.weathers > span:not(:first-child):before {
  content: "-";
  margin: 0 3px;
}

.footer {
  margin-top: 15px;
  color: #afaaaa;
  text-align: center;
}

.footer a {
  color: #afaaaa;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer_separator {
  margin: 0 6px;
}
